* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 24px;
}



.box {
    border: none;
    box-shadow: 5px 5px 5px 5px #888888;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.boxes {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.box1 {
    border-top: 2px solid aqua;
}

.box2 {
    border-top: 2px solid red;
}

.box3 {
    border-top: 2px solid orange;
}

.box4 {
    border-top: 2px solid blue;
}

img {
    align-self: flex-end;
}

h4 {
    margin: 0px;
}

p {
    color: grey;
}

.main-heading {
    color: grey;
    
}

h2 {
   margin: 0;
}

.para {
    width: 450px;
}





